.logo-img{
    width: 25%;
    max-width: 190px;
    height: 55px;
    min-width: 120px;
}

.menu-github-ico{
    width: 23px;
    height: 23px;
    margin-right: 3px;
}

.top-title{
    height: 20px;
    width: auto;
    text-align: center; 
    /*line-height: 200px;文字水平居中*/
    margin-left:auto;/*div水平居中*/
    margin-right: auto;
}

.input_text{
    text-align: center; 
    /*line-height: 30px;文字水平居中*/
    margin:auto;/*div水平居中*/
}

.index-p{
    font-weight:700;
    margin:auto;/*div水平居中*/
}

.sideboard{
    position: fixed; 
    width: auto;
    max-width: 110px; 
    min-width: 110px;
    height: auto; 
    left: 0px; 
    overflow: scroll;
    border-radius: 10px;
}

.side-btn{
    margin-top: 5px;
}

.fonts{
    font-family: '../font/H.ttf';
    font-weight: bolder;
    margin-left: 30px;
}

.block-main-content{
    height: 2000px;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 120px;
}

.none-main-content{
    height: 2000px;
    border-radius: 20px;
    margin: auto;
}

.prod{
    font-family: '../font/H.ttf';
    font-weight: bolder;
    margin-left: 105px;
    color: #008000;
}

.prod2{
    font-family: '../font/H.ttf';
    font-weight: bolder;
    margin-left: 35px;
    color: #008000;
}

.indu{
    color: #0000FF;
    font-family: '../font/H.ttf';
    font-weight: bolder;
    margin-left: 100px;
}

.example{
    color: #ff004c;
    font-family: '../font/H.ttf';
    font-weight: bolder;
    margin-left: 100px;
}
.return{
    color: #c2c51b;
    font-family: '../font/H.ttf';
    font-weight: bolder;
    /*margin-left: 50px;*/
}

.title{
    color: #A31515;
}

.in-title{
    margin-left: 110px;
}

.no-show{
    display: none;
}

.show{
    display: block;
}

.show2{
    display: block;
}

.APIs{
    /*border:1px solid #ccc;*/
    width: 50%;
    height: auto;
    float: left;
    box-sizing: border-box;
    border-radius: 5px;
    margin: auto;
}
.APIs2{
    min-width: 480px;
    width: 95%;
    max-width: 850px;
    height: 50%;
    margin-right: 25%;
    /*border:1px solid #ccc;*/
    float: left;
    box-sizing: border-box;
    background-color: white;
    border: 5px double #FF4081;
    margin-top: 10px;
    border-radius: 10px;
    word-wrap:break-word;  
    word-break:break-all;  
    overflow: hidden;
}

.APIs3{
    min-width: 480px;
    width: 95%;
    max-width: 800px;
    height: 50%;
    margin-right: 25%;
    /*border:1px solid #ccc;*/
    float: left;
    box-sizing: border-box;
    background-color: white;
    border: 5px double #FF4081;
    margin-top: 10px;
    border-radius: 10px;
    word-wrap:break-word;  
    word-break:break-all;  
    overflow: hidden;
}

.drop_down{
    background-color: #BBDEFB;
    border: 0px solid #2962FF;
    border-radius: 5px;
    color: #2962FF;
    text-align: center;
    font-weight: bolder;
}

.codes{
    width: 95%;
    border: 1px solid #1E88E5;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;
}

.line{
    color: #757575;
}

.oses{
    width: 50%;
    max-width: 400px;
    height: 250px;
    margin: auto;
    margin-bottom: 10px;
}
